<!DOCTYPE html>
<html>
<head>
	<title>Sgn In</title>
	<style type="text/css">
		body
		{
			display: block;
			text-align: center;
		}
		form
		{
			display: block;
		}
		div
		{
			display: inline-block;
			margin-top: 350px;
			border: dotted;
			font-size: 25px;
			text-align: center;
			background-color: silver;
			height: 200px;
			width: 600px;
			padding: 100px;
		}
		label
		{
			min-width: 50px;
			/*background-color: red;*/
			margin-left: 10px;
		}
		input
		{
			min-width: 400px;
			height: 35px;
			text-align: center;	
		}
	</style>
	<script type="text/javascript" language="javascript">
		function show()
		{
			var element = document.getElementById("checkbox")
			if(element.checked == true)
			{
				// alert("y")
				document.getElementById("password").type = "text";
			}
			else
			{
				// alert("n")
				document.getElementById("password").type = 'password';
			}
		}
	</script>
</head>
<body>
	<div>
		<form method="POST" action="new"> {% csrf_token %}
			<label>Email: </label><input type="email" name="email" id="email"><br>
			<label>Password: </label></label><input type="password" name="password" id="password"><br>
			<label>Show</label>
			<input type="checkbox" name="checkbox" id="checkbox" onchange="show()">
			<br>
			<input type="submit" name="submit" id="submit"><br>
		</form>
	</div>
</body>
</html>